.logo-container {
    /* the logo displayed in background on landing page */
    z-index: 0;
    animation: slideIn 1.7s ease-out;
    margin-left: 620px;
    transform: rotateZ(-2deg);
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;

    &:hover {
        color: #111;
        // background: rgb(0, 187, 255);
        // box-shadow: 0 0 100px rgb(117, 216, 255);
        border-radius: 100%;
        box-shadow: 70px 50px 150px 0px #1fcbff;
    }
}